.idea/
__pycache__/
.ipynb_checkpoints/
/_sicfile/
/cf/
/dask-worker-space/
/data
/ensemble/*
!/ensemble/template/
!/ensemble/*.tmpl.yaml
/logs/
/network_datasets
/results/
/plot/
/processed
/test*/
/wandb/
*test*.json
dataset_config.*.json
loader.*.json
*.csv
*.err
*.log
*.nc
*.npy
*.out
tmp.*
