.idea/
__pycache__/
.ipynb_checkpoints/
/_sicfile/
/cf/
/data
/ensemble/draft/
/ensemble/blue/
/ensemble/laptop*/
/ensemble/green/
/ensemble/predict/
/ensemble/tiny/
/ensemble/*_predict/
/logs/
/network_datasets
/notebooks/
/results/
/plot/
/processed
/test*/
*test*.json
dataset_config.*.json
loader.*.json
*.err
*.log
*.nc
*.npy
*.out
