.idea/
__pycache__/
.ipynb_checkpoints/
/_sicfile/
/cf/
/data
/ensemble/*
!/ensemble/template/
!/ensemble/*.tmpl.yaml
/logs/
/network_datasets
/notebooks/
/results/
/plot/
/processed
/test*/
*test*.json
dataset_config.*.json
loader.*.json
*.err
*.log
*.nc
*.npy
*.out
