export ICENET_ENVIRONMENT=${ICENET_ENVIRONMENT:-"$( basename `realpath .` )"}
export ICENET_HOME=${ICENET_HOME:-${HOME}/icenet/${ICENET_ENVIRONMENT}}
export ICENET_CONDA=${ICENET_CONDA:-${HOME}/miniconda3/envs/icenet}

export DATA_ARGS_ERA5="--vars uas,vas,tas,zg --levels ',,,500|250'"
export DATA_ARGS_ORAS5=""

export PROC_ARGS_ERA5="--abs uas,vas --anom tas,zg500,zg250"
export PROC_ARGS_ORAS5=""
export PROC_ARGS_SIC="--abs siconca --trends siconca --trend-lead 93"

export TRAIN_STATIC_ARGS=""
export PREDICT_STATIC_ARGS=""

export FILTER_FACTOR=0.4
export FORECAST_DAYS=93
export HEMI=north
export LAG=3
export PREP_SCRIPT=local.sh

##
# Training envs
#
DEMO_PIPELINE_TRAIN_START="2022-1-1,2022-6-1"
DEMO_PIPELINE_TRAIN_END="2022-1-31,2022-6-30"
DEMO_PIPELINE_VAL_START="2022-2-1"
DEMO_PIPELINE_VAL_END="2022-2-14"
DEMO_PIPELINE_TEST_START="2022-2-15"
DEMO_PIPELINE_TEST_END="2022-2-28"

##
# Prediction envs
#
PREDICTION_START="2000-1-1"
PREDICTION_END="2000-1-1"

PREFIX="DEMO_PIPELINE"
TRAIN_DATA_NAME=${PREFIX,,}
TRAIN_START_NAME="${PREFIX}_TRAIN_START"
TRAIN_END_NAME="${PREFIX}_TRAIN_END"
VAL_START_NAME="${PREFIX}_VAL_START"
VAL_END_NAME="${PREFIX}_VAL_END"
TEST_START_NAME="${PREFIX}_TEST_START"
TEST_END_NAME="${PREFIX}_TEST_END"

# What are we exporting

export TRAIN_START=${!TRAIN_START_NAME}
export TRAIN_END=${!TRAIN_END_NAME}
export VAL_START=${!VAL_START_NAME}
export VAL_END=${!VAL_END_NAME}
export TEST_START=${!TEST_START_NAME}
export TEST_END=${!TEST_END_NAME}
export PRED_START="$PREDICTION_START"
export PRED_END="$PREDICTION_END"

