bokeh
cartopy
cfgrib
dask
distributed
eccodes
h5py
imageio
imageio-ffmpeg
motuclient
netcdf4
plotly
pip
pydap
setuptools
tensorboard
wheel
xarray
azure-storage-blob
cdsapi
dm-tree
ecmwf-api-client
model-ensembler
tensorflow
tensorflow-probability
wandb
