#!/bin/bash
#SBATCH --output={{ run.dir }}/train.%j.%N.{{ run.seed }}.out
#SBATCH --error={{ run.dir }}/train.%j.%N.{{ run.seed }}.err
#SBATCH --chdir={{ run.dir }}
#SBATCH --mail-type=begin,end,fail,requeue
#SBATCH --mail-user={{ run.email }}
#SBATCH --time={{ run.length }}
#SBATCH --job-name={{ run.id }}
#SBATCH --nodes={{ run.nodes }}
#SBATCH --gres=gpu:{{ run.gpus }}
#SBATCH --partition={{ run.cluster }}
#SBATCH --account={{ run.cluster }}
#SBATCH --cpus-per-task={{ run.ntasks }}
#SBATCH --mem={{ run.mem }}
{% if run.nodelist %}#SBATCH --nodelist={{ run.nodelist }}{% endif %}

# BAS HPC specific items are offloaded to the ensemble configuration so that there is a single point of config
. {{ run.arg_prep }}
cd {{ run.dir }}

{% for dest in run.symlinks %}ln -s {{ dest }}
{% endfor %}

echo "START `date +%F\ %T`"

cat <<EOF >cmd.sh
icenet_train -v {{ run.arg_dataset }} {{ run.name }}.{{ run.seed }} {{ run.seed }} \
    -b {{ run.arg_batch }} -e {{ run.arg_epochs }} -m -qs {{ run.arg_queue }} \
    -w {{ run.ntasks }} -s {{ run.arg_strategy }} \{% if run.arg_preload %}
    -p {{ run.arg_preload_path }} \{% endif %}{% if run.arg_filter_factor %}
    -n {{ run.arg_filter_factor }} \{% endif %}

EOF

chmod +x cmd.sh
./cmd.sh

echo "FINISH `date +%F\ %T`"
