#!/bin/bash
#SBATCH --output={{ run.dir }}/predict.%j.%N.{{ run.seed }}.out
#SBATCH --error={{ run.dir }}/predict.%j.%N.{{ run.seed }}.err
#SBATCH --chdir={{ run.dir }}
#SBATCH --mail-type=begin,end,fail,requeue
#SBATCH --mail-user={{ run.email }}
#SBATCH --time={{ run.length }}
#SBATCH --job-name={{ run.id }}
#SBATCH --nodes={{ run.nodes }}
{% if run.cluster == "gpu" %}#SBATCH --gres=gpu:{{ run.gpus }}{% endif %}
#SBATCH --partition={{ run.cluster }}
#SBATCH --account={{ run.cluster }}
#SBATCH --cpus-per-task={{ run.ntasks }}
#SBATCH --mem={{ run.mem }}
{% if run.nodelist %}#SBATCH --nodelist={{ run.nodelist }}{% endif %}

# BAS HPC specific items are offloaded to the ensemble configuration so that there is a single point of config
. {{ run.arg_prep }}
cd {{ run.dir }}

{% for dest in run.symlinks %}ln -s {{ dest }}
{% endfor %}

echo "START `date +%F`"

cat <<EOF >cmd.sh
icenet_predict -v -n {{ run.arg_filter_factor }} \{% if run.arg_testset == "true" %}
    -t \{% endif %}{% if run.arg_ident %}
    -i {{ run.arg_ident }} \{% endif %}
    {{ run.arg_dataset }} {{ run.arg_network }} {{ run.name }} \
    {{ run.seed }} ../predict_dates.csv

EOF

chmod +x cmd.sh
./cmd.sh

echo "FINISH `date +%F`"
