#!/bin/bash
#SBATCH --output={{ run.dir }}/job.%j.%N.out
#SBATCH --error={{ run.dir }}/job.%j.%N.err
#SBATCH --chdir={{ run.dir }}
#SBATCH --mail-type=begin,end,fail,requeue
#SBATCH --mail-user={{ run.email }}
#SBATCH --time={{ run.length }}
#SBATCH --job-name={{ run.id }}
#SBATCH --nodes={{ run.nodes }}
#SBATCH --gres=gpu:{{ run.gpus }}
#SBATCH --partition={{ run.cluster }}
#SBATCH --account={{ run.cluster }}
#SBATCH --cpus-per-task={{ run.ntasks }}
#SBATCH --mem={{ run.mem }}

# BAS HPC specific items are offloaded to the ensemble configuration so that there is a single point of config
{{ run.prep }}
cd {{ run.dir }}

python3 train.draft.py {{ run.arg_dataset }} {{ run.name }} {{ run.seed }} \
    -v -b {{ run.arg_batch }} -e {{ run.arg_epochs }} -m -qs {{ run.arg_queue }} -s {{ run.arg_strategy }} \
{% if run.arg_preload %}
    -p {{ run.arg_preload_path }} \
{% endif %}
2>&1 | tee train.out.log
